$transition: all 0.2s ease-in-out;

a.link{
    position: relative;
}
a.link:before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -3px;
    right: 0;
    background: #1B65D3;
    transition: $transition;
}
a.link:hover{
    &:before{
        width: 100%;
        left: 0;
    }
}

.h100{
    height: 100vh;
    overflow-y: auto;
}
.align-items-center{
    /*&.h100{
        overflow-y: auto;
        align-items: flex-start !important;
        padding: 15px !important;
    }*/
}

#particles-js{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.login-page{
    background: linear-gradient(to right, #140E38, #194089);
}
.has-error{
    .form-control{
        border-color: red;
    }
    .error-text{
        display: block !important;
        color: red;
        font-size: 12px;
        padding: 5px 0 0 12px;
        &.total-alarm{
            padding: 15px;
            height: 80px;
            border: 1px solid red;
            text-align: center;
            border-radius: 0.25rem;
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            background: #fff1f8;
            margin-bottom: 1rem;

            .la{
                font-size: 25px;
                //transform: translateY(3px);
            }
        }
    }
}
.total-alarm_wrap{
    margin: 0 !important;
}
.loginform{
    width: 400px;
    .p-3{
        padding-bottom: 20px !important;
    }
    button{
        cursor: pointer;
    }
    .text-capitalize{
        font-size: 22px;
        margin-top: 10px;
    }
    form .form-control {
        box-shadow: none !important;
    }
    .error-text{
        display: none;
    }
    .dropdown-language{
        position: absolute;
        top: 10px;
        right: 5px;
    }
    .form-label-group > label {
        color: #989b9d;
            -webkit-user-select: none; /* Chrome all / Safari all */
            -moz-user-select: none;    /* Firefox all             */
            -ms-user-select: none;     /* IE 10+                  */
            user-select: none;        /* Likely future           */
    }
    .form-control{
        color: #464855;
    }
}
.vertical-compact-menu .main-menu .navigation>li>a{
    transition: $transition;
}
.vertical-compact-menu .main-menu .navigation>li>a>span{
    visibility: visible;
    letter-spacing: .5px;
}
.main-menu.menu-dark .navigation > li{
    margin-bottom: 20px;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link{
    padding: 1.7rem 1rem 1.6rem 1rem;
    .icon-user{
        font-size: 1.5rem;
    }
}
.content-body{
    display: flex;
    flex-wrap: wrap;
    &_center{
        justify-content: center;
    }
}
.add_node{
    width: 400px;
    .card-body{
        padding-bottom: 30px;
        a{
            display: inline-flex;
            flex-direction: column;
            transition: $transition;
            i{
                margin-bottom: 20px;
                transition: $transition;
            }
            &:hover{
                i{
                    box-shadow: 0 1px 27px 10px rgba(255, 145, 73, 0.6);
                }
            }
        }
    }
    .card-header{
        padding-top: 40px;
        h6{
            line-height: 27px;
            font-size: 16px;
            display: block;
        }
    }
}
.card{
    //box-shadow: 0px 1px 15px 6px rgba(62, 57, 107, 0.07);
    //display: none;
}
html body .content{
    min-height: calc(100% - 45px);
}
html body .content .content-wrapper{
    padding-top: 0;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\2022";
}
.breadcrumb-new .content-header-title{
    border: 0;
    margin: 0;
}
.breadcrumb-new{
    display: flex;
    align-items: center;
    padding: 0 18px;
    margin-bottom: 25px !important;
    position: relative;
    .btn-gradient-secondary.add_btn{
        margin-left: 30px;
    }
    .add_btn{
        align-items: center;
        font-size: 10px;
        padding: 6px;
        margin-left: 10px;
        display: inline-flex;
        text-shadow: 1px 2px #7d7d7d;
        font-weight: 600;
        .la, i{
            font-size: 13px;
            margin-right: 4px;
        }
        .icon-question{
            margin-right: 7px;
        }
        &:hover{
            color: #fff;
        }
    }
    .content-header-title{
        display: inline-flex !important;
        align-items: center;
        flex-wrap: wrap;
    }
}
.header-navbar .navbar-container ul.nav li a.nav-link-label{
    position: relative;
}
.nodelist{
    width: calc(100% + 20px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    position: relative;
}
.node{
    width: calc(50% - 20px);
    margin: 0 10px 20px;
    .badge{
        padding: 6px 10px;
        font-size: 10px;
        border: 1px solid #fff;
        transform: translateY(-2px);
    }
    &_error{
        background: rgba(255, 238, 241, 0.8);
        box-shadow: 0 0 10px -4px #dc3545 inset;
        &:hover{
            box-shadow: 0 0 17px -2px #dc3545 inset, 0px 14px 24px rgba(62, 57, 107, 0.2);
        }
    }
    &-head{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-name{
        h3{
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 15px;
            line-height: 28px;
        }
    }
    &-crypto{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
            width: 30px;
            margin-right: 10px;
        }
    }
    &-body{

        .node-table{
            &__row{
                display: flex;
                div{
                    padding: 1px 5px;
                    color: #464855;
                }
                div:first-child{
                    text-align: right;
                    width: 150px;
                    flex: 0 0 150px;
                    color: inherit;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
    }
    &-action{
        display: flex;
        align-items: flex-start;
        padding-left: 30px;
        label{
            white-space: nowrap;
            cursor: pointer;
        }
        .btn{
            padding: 5px;
            i{
                font-size: 22px;
            }
        }
    }
    .lead{
        margin: 17px 0 0 152px;
        display: inline-block;
        font-size: 16px;
        .la{
            margin-right: 10px;
            transition: $transition;
        }
        &:not(.collapsed){
            .la{
                transform: rotate(180deg);
            }
        }
    }
    .collapse-inner{
        .card-body{
            padding-top: 0;
            .node-table{
                &__row{
                    display: flex;
                    div{
                        padding: 1px 5px;
                        color: #464855;
                    }
                    div:first-child{
                        text-align: right;
                        width: 150px;
                        flex: 0 0 150px;
                        color: inherit;
                        font-size: 13px;
                        font-weight: 300;
                        padding-left: 0;
                    }
                    div:last-child{
                        word-break: break-word;
                    }
                }
            }
        }
    }
}
.modal-confirm{
    .modal-body{
        text-align: center;
        h4{
            font-weight: 300;
            margin: 20px 0;
        }
    }
    .modal-footer{
        justify-content: center;
    }
}
.modal-backdrop{
    z-index: 100001;
}
.modal{
    z-index: 100002;
}
.filterlist{
    width: 100%;
    .select2-selection{
        border: 1px solid #cacfe7;
        min-height: 44px;
    }
    .select2{
        width: 100%;
    }
    .select2-container .select2-search--inline .select2-search__field{
        margin-top: 8px;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered{
        padding: 0 10.5px;
    }
    .select2-container--default .select2-selection--multiple {
        transition: $transition;
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: 1px solid #1B65D3;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice{
        margin-top: 7px;
    }
    label{
        color: #777777;
    }
    .form-label-group{
        margin: 0;
    }
}
.hamb{
    display: none;
    border: 1px solid #9c9da6;
    padding: 5px;
}
.navbar-expand-md .navbar-nav .dropdown-menu, .loginform .dropdown-menu{
    display: block;
    transform: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(0) translateY(20px);
    transition: all 0.2s ease-in-out;
}
.loginform .dropdown-menu{
    top: 58px !important;
}
.loginform .show > .dropdown-menu{
    top: 38px !important;
}
.show > .dropdown-menu{
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0) translateY(0) !important;
}
.header-navbar .navbar-container ul.nav li .media-list {
    .helper{
        display: none;
        padding: 60px 20px 15px;
        text-align: center;
    }
}
.clear-list{
    padding: 5px;
    position: relative;
    top: -36px;
    right: 15px;
    border: 0;
    .la{
        margin: 0;
    }
}
.coinlist{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

}
.coin{
    width: calc(25% - 20px);
    margin: 0 10px 20px;
    &-head{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        img{
            width: 50px;
            flex: 0 0 50px;
            margin-right: 15px;
        }
        h3{
            font-weight: 300;
            font-size: 20px;
            line-height: 25px;
            text-transform: none;
            margin: 0;
            span{
                display: block;
                color: #7d7d7d;
                font-size: 16px;
            }
        }

    }
    &-body{

    }
    &-table{
        &__row{
            display: flex;
            div{
                padding: 1px 5px;
                color: #464855;
                &:first-child{
                    text-align: right;
                    width: 140px;
                    flex: 0 0 140px;
                    color: #6b6f82;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
            &_total{
                margin-top: 15px;
                flex-direction: column;
                div{
                    width: auto;
                    flex: auto;
                    text-align: center;
                    font-size: 25px;
                    line-height: 22px;
                    font-weight: 600;
                    &:first-child{
                        width: auto;
                        flex: auto;
                        text-align: center;
                        font-size: 16px;
                        color: rgb(107, 111, 130) !important;
                    }
                }
            }
            &_chart{
                display: flex;
                justify-content: center;
                text-align: center;
                margin: 25px 0 0;
                div{
                    position: relative;
                    &:after{
                        content: 'active';
                        display: block;
                        color: #28d094;
                        font-size: 12px;
                        font-weight: 300;
                        transform: translateY(-44px);
                    }
                    input{
                        margin-top: 26px !important;
                    }
                }
            }
            &_status{
                display: flex;
                div{
                    width: 50%;
                    flex: 0 0 50%;
                    padding: 0 5px;
                    &:first-child{
                        text-align: right;
                    }
                    p{
                        color: inherit;
                        font-size: 13px;
                        font-weight: 300;
                        margin: 0;
                    }
                    span{

                    }
                }
            }
        }
    }
}
.node-action{
    .btn{
        span{
            display: none;
        }
    }
}
.ticket-list{
    width: 100%;
    &__head{
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        border-bottom: 1px solid #cacfe7;
        margin-bottom: 20px;
        &-tab{
            display: flex;
            align-items: stretch;
            height: 100%;
        }
        &-link{
            display: flex;
            align-items: center;
            padding: 0 10px;
            margin-right: 15px;
            color: #6B6F82;
            position: relative;
            text-transform: uppercase;
            white-space: nowrap;
            &:after{
                display: block;
                content: '';
                position: absolute;
                bottom: -2px;
                height: 3px;
                left: 0;
                right: 0;
                background: transparent;
            }
            &.active{
                color: #1B65D3;
                &:after{
                    background: #1B65D3;
                }
            }
        }
        .add_btn{
            align-items: center;
            font-size: 10px;
            padding: 6px 12px;
            display: inline-flex;
            text-shadow: 1px 2px #7d7d7d;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Comfortaa", Georgia, "Times New Roman", Times, serif;
            .la{
                margin-right: 5px;
            }
            &:hover{
                color: #fff;
            }
        }
    }
    .ticketlist{
        &-wrap{
            overflow: auto;
        }
        width: 100%;
        th{
            padding: 12px 8px;
            border-bottom: 1px solid #E4E5EC;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 13px;
            white-space: nowrap;
        }
        td{
            padding: 8px;
            border-bottom: 1px solid #E4E5EC;
            white-space: nowrap;
            a{

            }
            &.td_status{
                span{
                    display: block;
                    position: relative;
                    padding-left: 7px;
                    margin-left: 7px;
                    &:before{
                        display: block;
                        content: '';
                        position: absolute;
                        left: -7px;
                        height: 6px;
                        width: 6px;
                        top: 7px;
                        border-radius: 50%;
                    }
                }
            }
            &.status_wait_team{
                span{
                    &:before{
                        background: limegreen;
                    }
                }
            }
            &.status_wait{
                span{
                    &:before{
                        background: red;
                    }
                }
            }
            &.status_closed{
                span{
                    &:before{
                        background: grey;
                    }
                }
            }
        }
        tr:nth-child(even){
            td{
                background: #f4f5fa;
            }
        }
        tr{
            td:first-child{
                white-space: normal;

                a{
                    display: inline-block;
                    min-width: 200px;
                }
            }
        }
    }
}
.ac{
    text-align: center;
}
.ticket{
    width: 100%;
    margin: 0 auto;
    .card-body{
        max-width: 600px;
        margin: 0 auto;
    }
    &__name{
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 28px;
        position: relative;
        padding-left: 20px;
        &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            height: 6px;
            width: 6px;
            top: 12px;
            border-radius: 50%;
        }
        &.status_wait_team{
            &:before {
                background: limegreen;
            }
        }
        &.status_wait{
            &:before {
                background: red;
            }
        }
        &.status_closed{
            &:before {
                background: grey;
            }
        }

    }
    .message{
        display: flex;
        margin-bottom: 50px;
        &__ava{
            width: 40px;
            flex: 0 0 40px;
            margin-right: 10px;
            img{
                width: 100%;
            }
        }
        &__body{
            flex: 1 0 auto;
        }
        &__text{
            width: 100%;
            min-height: 100px;
        }
        &__action{
            display: flex;
            justify-content: space-between;
            .btn-gradient-primary, .btn-gradient-secondary{
                &:hover{
                    color: #fff;
                }
            }
        }
        &__list{

        }
        &__item{
            display: flex;
            margin-bottom: 10px;
            &-ava{
                width: 40px;
                flex: 0 0 40px;
                margin-right: 10px;
                img{
                    width: 100%;
                }
            }
            &-body{

            }
            &-date{
                font-size: 10px;
                margin-bottom: 4px;
            }
            &-inner{
                background: #2a7ad7;
                background: -moz-linear-gradient(left,  #2a7ad7 0%, #40bcf3 100%);
                background: -webkit-linear-gradient(left,  #2a7ad7 0%,#40bcf3 100%);
                background: linear-gradient(to right,  #2a7ad7 0%,#40bcf3 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a7ad7', endColorstr='#40bcf3',GradientType=1 );

                color: #fff;
                padding: 10px;
                border-radius: 10px;
                border-top-left-radius: 0;
            }
            &_user{
                justify-content: flex-end;
                .message__item-ava{
                    order: 2;
                }
                .message__item-inner{
                    background: #f1f1f4;
                    color: #464855;
                    border-radius: 10px;
                    border-bottom-right-radius: 0;
                }
                .message__item-ava{
                    margin: 0 0 0 10px;
                }
                .message__item-date{
                    text-align: right;
                }
            }
        }
    }
}
.ticket__create{

}
.ticket__create-wrap{
    display: flex;
    width: calc(600px - 3rem);
    flex-direction: column;
    .ticket__create{
        font-size: 22px;
        margin-bottom: 20px;
    }
    input{
        margin-bottom: 1rem;
    }
    .message__action{
        justify-content: flex-end;
    }
}
.settings{
    align-items: flex-start;
}
.setting{
    width: calc(33.333% - 20px);
    margin: 0 10px;
    .has-error{
        .select2-container--default .select2-selection--single{
            border-color: red;
        }
    }
}
.button_wrap.ac{
    justify-content: center;
}
.btn-gradient-primary, .btn-gradient-secondary{
    &:hover{
        color: #fff;
    }
}
.checkbox-group{
    margin-top: 50px;
    .switch{
        cursor: pointer;
        margin-bottom: 10px;
        color: #777777;
        line-height: 1.2;
        .slider{
            margin-right: 15px;
            flex: 1 0 auto;
        }
    }
}
.or{
    margin: 30px 0;
    text-align: center;
}
.billing-page{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    justify-content: center;
    width: calc(100% + 20px);
}
.billing{
    width: calc(16.666% - 20px);
    margin: 0 10px 20px;
    .card-title{
        height: 78px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        flex-wrap: wrap;
        span{
            font-size: 9px;
            width: 100%;
            display: block;
            margin-top: -10px;
        }
    }
    .card-header{
        padding-top: 30px;
    }
    .card-body{
        padding-top: 0;
    }
    &-table{
        &__row{
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            div{
                color: #464855;
                display: flex;
                align-items: baseline;
                justify-content: center;
                text-transform: lowercase;
                font-size: 20px;
                font-weight: 600;
                &:first-child{
                    color: #6b6f82;
                    font-size: 13px;
                    font-weight: 300;
                    flex-wrap: wrap;
                    line-height: 1.3;
                    order: 2;
                }
                &:last-child{
                    flex-wrap: nowrap !important;
                }
                .la{
                    font-size: 40px;
                }
                span{
                    padding-left: 5px;
                    font-size: 14px;
                }
            }
        }
    }
    &__price{
        margin: 0 auto 20px;
        font-size: 32px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        flex-wrap: wrap;
        position: relative;
        sub{
            font-size: 15px;
            font-weight: 300;
        }
        div{

        }
    }
    &_act{
        box-shadow: 0px 0px 16px 0 rgba(28, 120, 255, 0.5);
/*        background-image: linear-gradient(to right, #ff4137 0%, #fdc800 51%, #ff4137 100%);
        background-position: left center;
        background-size: 200% auto;*/
        .btn-gradient-primary.btn-block{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            box-shadow: none;
            font-size: 16px;
            padding: 1rem;
            cursor: default;
            position: relative;
            div{
                text-align: center;
                font-size: 11px;
                line-height: 11px;
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                height: 20px;
                border-radius: 10px;
                background: #FF4961;
                padding: 3px 15px;
            }
            &:hover{
                background-position: left center;
            }
            .la{
                margin-right: 5px;
            }
        }
    }
}
.badger{
    position: relative;
    transform: rotate(-45deg);
    padding: 3px 0;
    margin: 10px 0 0 -35px;
    width: 120px;
    text-align: center;
    background-image: linear-gradient(to right, #ff4137 0%, #fdc800 51%, #ff4137 100%);
    background-position: left center;
    background-size: 200% auto;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    .la{
        font-size: 12px;
        margin-right: 4px;
    }
    &-wrap{
        position: absolute;
        top: -1px;
        left: -1px;
        overflow: hidden;
        width: 70px;
        height: 70px;
    }
}

.invoice-amount{
    margin: 10px 0 20px;
    padding-left: 10px;
    b{
        padding-left: 15px;
        font-size: 17px;
    }
}
.help-more{
    padding: 30px 0;
    a{
        letter-spacing: 2px;
        i{
            margin-right: 5px;
        }
    }
}
.invoice-page{
    width: 100%;
    .invoice-form{
        margin: 0 auto 40px;
    }
    .invoice-table{
        width: 100%;
        table{
            width: 100%;
            border: 1px solid #ddd;
            th,td{
                border: 1px solid #ddd;
                padding: 8px;
                white-space: nowrap;
                .btn {
                    padding: 5px;
                }
            }
        }
        .card-body{
            padding-top: 0;

            &__inner{
                overflow: auto;
                width: 100%;
            }
        }
    }
}
.wal{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    &+.la{
        cursor: pointer;
    }
}
.invoice-form .has-error .select2-container--default .select2-selection--single {
    border-color: red;
}
.breadcrumb-new .add_btn.pay{
    padding: 6px 15px 6px 10px;
}
.faq{
    max-width: 500px;
    margin: 0 auto;
    .card{
        .card-body{
            padding-top: 0;
            padding-left: 50px;
        }
    }
}
.collapse-icon a[data-toggle="collapse"]::before, .collapse-icon a[data-toggle="collapse"]::after{
    top: 29px;
    font-weight: 600;
}
.collapse-icon.left a {
    display: block;
    font-weight: 400;
}






@media only screen and (max-width: 1800px) {
    .billing {
        width: calc(20% - 20px);
    }
}

@media only screen and (max-width: 1600px) {
    .coin{
        width: calc(33.333% - 20px);
    }
    .billing {
        width: calc(25% - 20px);
    }
}

@media only screen and (max-width: 1360px) {
    .node {
        width: 100%;
        margin: 0 0 20px;
    }
    .nodelist{
        margin: 0;
        width: 100%;
    }
    .filterlabel{
        label{
            flex-direction: column;
            height: 100%;
            div{
                margin: 0 !important;
                padding: 0;
            }
            .slider{
                height: 20px;
                width: 40px;
                &:before{
                    width: 16px;
                    height: 16px;
                    bottom: 2px;
                }
            }
        }
        .switch input:checked + .slider::before {
            transform: translateX(16px);
        }
    }

}
@media only screen and (max-width: 1350px) {
    .billing {
         width: calc(33.333% - 20px);
    }

}

@media only screen and (max-width: 1280px) {
    .coin{
        width: calc(50% - 20px);
    }
    .settings{
        flex-direction: column;
        align-items: center;
    }
    .setting{
        width: 400px;
        margin: 15px 0;
    }

}

@media only screen and (max-width: 980px) {
    .coin{
        width: calc(100% - 20px);
    }

    .filterlabel label{
        div{
            font-size: 12px;
            margin: 0 0 5px;
            text-align: center;
            line-height: 14px;
        }
        flex-direction: column;
        justify-content: center;
        .slider{
            margin-top: 5px;
        }
    }
    .billing {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 800px){
    .ticket-card__create{
        width: 100%;
        .card-body{
            width: 100%;
            .ticket__create-wrap{
                width: 100%;
            }
        }
    }


}

@media only screen and (max-width: 768px) {
    .main-menu.menu-dark .navigation > li > a {
        padding: 12px 36px 12px 20px;
    }
    .content-wrapper{
        padding: 25px 18px !important;
    }
    .header-navbar{
        min-height: auto;
        height: 50px;
        .navbar-wrapper{
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 5px;
        }
        .navbar-header{
            height: 100%;
            padding: 0;
            width: auto !important;
            float: none !important;
            flex: 0 0 calc(100% - 162px);
            .nav.navbar-nav{
                flex-wrap: nowrap;
                height: 50px;
                justify-content: center;
                .mobile-menu{
                    margin: 0 !important;
                    position: absolute;
                    left: 0;
                    a{
                        padding: 0;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    html body.fixed-navbar {
        padding-top: 50px;
    }
    .main-menu.menu-fixed {
        top: 50px;
        padding-top: 30px;
    }
    .vertical-overlay-menu .main-menu .navigation > li > a > i {
        margin-right: 16px;
    }
    .navbar-container{
        display: flex !important;
        padding: 0 !important;
        width: 162px !important;
        .collapse.navbar-collapse{
            display: flex;
            height: 100%;
            justify-content: flex-end;
            .nav.navbar-nav.mr-auto.float-left{
                display: none;
            }
        }
        .nav.navbar-nav{
            height: 100%;
        }
    }
    .header-navbar .navbar-header .navbar-brand{
        position: static;
        transform: none;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }
    .header-navbar .navbar-container ul.nav li a.dropdown-user-link{
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        i{
            margin-right: 0;
        }
    }
    .dropdown.dropdown-notification.nav-item{
        height: 100%;
        a{
            padding: 0 18px 0 15px !important;
            height: 100%;
            display: flex;
            align-items: center;
            i{
                margin-right: 0 !important;
                font-size: 23px !important;
            }
            span{
                top: 5px;
                right: 6px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                line-height: 10px;
                padding: 0;
                vertical-align: middle;
            }
        }
    }
    .header-navbar{
        .dropdown.dropdown-language.nav-item{
            .dropdown-toggle.nav-link{
                padding: 0 15px;
                height: 100%;
                display: flex;
                align-items: center;
                i{
                    margin-right: 0;
                }
            }
        }
    }
    .logo_min{
        margin-left: 42px !important;
    }
    .header-navbar .navbar-container .show .dropdown-menu{
        left: auto !important;
    }
    .dropdown .dropdown-menu .dropdown-item {
        padding: 10px 11px;
    }
    .dropdown-menu-media{
        .media{
            width: 100%;
        }
    }
    .breadcrumb-new{
        flex-wrap: wrap;
        padding: 0 15px;
    }
    .filterlist{
        .col-md-4{
            margin-bottom: 15px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .hamb{
        display: block;
        background: #fff;
    }
    .node-action__wrap{
        position: relative;
        margin-left: 30px;
    }
    .node-action__wrap.vis .node-action {
        opacity: 1;
        visibility: visible;
        transform: translateX(0) translateY(0);
    }
    .node-action{
        position: absolute;
        top: 40px;
        right: 0;
        display: flex;
        flex-direction: column;
        border: 1px solid #E4E5EC;
        border-radius: 0.35rem;
        box-shadow: 0px 5px 75px 2px rgba(64, 70, 74, 0.2) !important;
        padding: 10px;
        align-items: flex-end;
        opacity: 0;
        visibility: hidden;
        transform: translateX(0) translateY(20px);
        transition: all 0.2s ease-in-out;
        background: #fff;
        z-index: 10000;
        .btn{
            margin: 0 0 0.5rem !important;
            position: relative;
        }
        .switch{
            margin: 0 0 0.5rem !important;
        }

        .btn-outline-danger{
            margin-bottom: 0 !important;
            span{
                display: block;
                position: absolute;
                right: 40px;
                top: 10px;
                font-size: 14px;
                color: #FF4961;
            }
            &:hover{
                span{
                    color: #FF4961;
                }
            }
        }
    }
    .breadcrumb-new .content-header-title{
        justify-content: space-between;
        padding-right: 0;
        display: flex !important;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .breadcrumb-new{
        .content-header-title{
            margin: 0 !important;
            width: 100%;
            border: 0;
            padding-right: 0;
        }
    }
    .node .lead {
        margin: 17px auto 0;
    }
    .node .collapse-inner .card-body .node-table__row{
        flex-direction: column;
    }
    .node .collapse-inner .card-body .node-table__row div:first-child{
        width: 100%;
        flex: 0 0 auto;
        text-align: left;
        padding: 0;
    }
    .node .collapse-inner .card-body .node-table__row div:last-child{
        padding: 0;
        margin-bottom: 15px;
    }
    .node .collapse-inner .card-body .node-table__row:last-child{
        div:last-child{
            margin-bottom: 0;
        }
    }
    .add_node.card .button_wrap .btn-block {
        width: calc(100% - 15px) !important;
    }
    .ticket-list__head-link{
        padding: 0;
        font-size: 11px;
    }
    .billing{
        width: calc(100% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    .node-body .node-table__row div:first-child{
        width: 125px;
        flex: 0 0 125px;
    }
    .ticket .message__action .btn-gradient-primary, .ticket .message__action .btn-gradient-secondary{
        padding: 8px 20px;
        font-size: 12px;
    }
    .ticket .message__body{
        flex: 1 1 auto;
    }
    .setting{
        width: 100%;
        margin: 15px 0;
    }
    .invoice-form.add_node.card{
        width: 100%;
    }
    .breadcrumb-new .content-header-title{
        flex-direction: column;
        align-items: center;
        .btn-gradient-secondary.add_btn{
            margin: 25px 0 15px;
        }
    }
}

@media only screen and (max-width: 440px) {
    .loginform {
        width: 100%;
        .p-3 {
            padding: 3rem 20px 20px !important;
        }
    }
    .ticket-list__head{
        height: auto;
        flex-wrap: wrap;
    }
    .ticket-list__head-tab{
        width: 100%;
        order: 2;
        height: 40px;
    }
    .ticket-list__head .add_btn{
        margin: 0 auto 15px;
    }
    .ticket-list__head-link{
        margin: 0;
        width: 50%;
        justify-content: center;
    }
}

.preload{
    position: absolute;
    top: 0;
    right: 10px;
    height: 100vh;
    left: 10px;
    background: rgba(255, 255, 255, .9);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    &.vis{
        visibility: visible;
        opacity: 1;
    }
}
.filterlabel{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    label{
        margin: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        div{
            margin-right: 5px;
        }
    }
}
.button_wrap{
    display: flex;
    justify-content: space-between;
    .btn-block{
        width: calc(50% - 15px) !important;
        cursor: pointer;
        margin-bottom: 0 !important;
        text-align: center;
        &:hover{
            color: #fff;
        }
    }

}
.add_node{
    .custom-select{
        option[type="hidden"]{
            color: #fff;
        }
    }
    .error-text {
        display: none;
    }
    .form-label-group {
        position: relative;
        & > label{
            color: #989b9d;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .la{
            position: absolute;
            top: 0;
            right: 0;
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #989b9d;
            transition: $transition;
            &:hover{
                color: #6B6F82;
            }
        }
    }
    .form-control {
        color: #464855;
        padding-right: 50px;
    }
    .has-error  {
        .error-text{
            display: block;
            color: red;
            font-size: 12px;
            padding: 5px 0 0 12px;
            &.total-alarm{
                padding: 0;
                font-size: 14px;
                .la{
                    position: static;
                    color: red;
                    width: auto;
                    height: auto;
                    cursor: default;
                }
                span{
                    width: 66%;
                    text-align: left;
                    padding-left: 15px;
                }
            }
        }
        .form-control {
            border-color: red;
        }
    }
}
.modal{
    img{
        width: 100%;
    }
}
.load-more-data__wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .load-more-data{
        cursor: pointer;
    }
}
.oh{
    overflow: hidden;
}
.select_fieldset{
    label{
        padding-top: -webkit-calc(var(--input-padding-y) / 3);
        padding-top: -moz-calc(var(--input-padding-y) / 3);
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: -webkit-calc(var(--input-padding-y) / 3);
        padding-bottom: -moz-calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 11px;
        color: #777 !important;
        pointer-events: none;
        opacity: 0;
        transition: $transition;
        transform: translateY(9px);
    }
    select{
        padding-top: -webkit-calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-top: -moz-calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: -webkit-calc(var(--input-padding-y) / 3);
        padding-bottom: -moz-calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        padding-left: 7px;
    }
    .select2-container{
        .select2-selection--single{
            height: 44px;
            .select2-selection__rendered{
                height: 100%;
                padding: var(--input-padding-y) var(--input-padding-x);
                line-height: 21px;
            }
            .select2-selection__arrow{
                top: 9px;
                right: 12px;
            }
            .select2-selection__clear{
                top: 7px;
                right: 34px;
                float: none;
                position: absolute;
                color: #888;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &.select2-container--open+label{
            //opacity: 1;
            //transform: translateY(0px);
        }
    }
}
.switch {
    position: relative;
    display: inline-flex;
    margin: 0;
    height: 34px;
    align-items: center;
    div{
        padding-right: 5px;
    }
    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    input:checked + .slider {
        background-color: #37bc9b;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #37bc9b;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    .slider {
        position: relative;
        cursor: pointer;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        width: 60px;
        height: 100%;
        border-radius: 34px;
        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
}












