$transition: all 0.2s ease-in-out;

a.link{
    position: relative;
}
a.link:before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -3px;
    right: 0;
    background: #1B65D3;
    transition: $transition;
}
a.link:hover{
    &:before{
        width: 100%;
        left: 0;
    }
}

.h100{
    height: 100vh;
    overflow-y: auto;
}
.align-items-center{
    /*&.h100{
        overflow-y: auto;
        align-items: flex-start !important;
        padding: 15px !important;
    }*/
}




#particles-js{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.login-page{
    background: linear-gradient(to right, #140E38, #194089);
}
.loginform{
    width: 400px;
    .p-3{
        padding-bottom: 20px !important;
    }
    button{
        cursor: pointer;
    }
    .text-capitalize{
        font-size: 22px;
        margin-top: 10px;
    }
    form .form-control {
        box-shadow: none !important;
    }
    .error-text{
        display: none;
    }
    .has-error{
        .form-control{
            border-color: red;
        }
        .error-text{
            display: block;
            color: red;
            font-size: 12px;
            padding: 5px 0 0 12px;
        }
    }
    .dropdown-language{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}
.vertical-compact-menu .main-menu .navigation>li>a{
    transition: $transition;
}
.vertical-compact-menu .main-menu .navigation>li>a>span{
    visibility: visible;
    letter-spacing: .5px;
}
.main-menu.menu-dark .navigation > li{
    margin-bottom: 20px;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link{
    padding: 1.7rem 1rem 1.6rem 1rem;
    .icon-user{
        font-size: 1.5rem;
    }
}
.content-body{
    display: flex;
    flex-wrap: wrap;
    &_center{
        justify-content: center;
    }
}
.add_node{
    width: 400px;
    .card-body{
        padding-bottom: 40px;
        a{
            display: inline-flex;
            flex-direction: column;
            transition: $transition;
            i{
                margin-bottom: 20px;
                transition: $transition;
            }
            &:hover{
                i{
                    box-shadow: 0 1px 27px 10px rgba(255, 145, 73, 0.6);
                }
            }
        }
    }
    .card-header{
        padding-top: 40px;
        h6{
            line-height: 27px;
            font-size: 16px;
            display: block;
        }
    }
}
.card{
    //box-shadow: 0px 1px 15px 6px rgba(62, 57, 107, 0.07);
    //display: none;
}
html body .content{
    min-height: calc(100% - 45px);
}
html body .content .content-wrapper{
    padding-top: 0;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\2022";
}

.breadcrumb-new{
    display: flex;
    align-items: center;
    padding: 0 18px;
    margin-bottom: 25px !important;
}
.header-navbar .navbar-container ul.nav li a.nav-link-label{
    position: relative;
}
.node{
    width: 100%;
    margin-bottom: 20px;
    &-head{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &-name{
        h3{
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 10px;
            padding-left: 35px;
            position: relative;
            line-height: 28px;
            span{
                padding: 6px 10px;
                font-size: 10px;
            }
            .cc{
                width: 28px;
                height: 28px;
                line-height: 22px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    &-body{
        padding-left: 35px;
        .node-table{
            &__row{
                display: flex;
                div{
                    padding: 1px 5px;
                    color: #464855;
                }
                div:first-child{
                    text-align: right;
                    width: 110px;
                    color: inherit;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
    }
    &-action{
        display: flex;
        align-items: flex-start;
        padding-left: 30px;
        label{
            white-space: nowrap;
            cursor: pointer;
        }
        .btn{
            padding: 5px;
            i{
                font-size: 22px;
            }
        }
    }
    .lead{
        margin: 17px 0 0 48px;
        display: inline-block;
        font-size: 16px;
        .la{
            margin-right: 10px;
            transition: $transition;
        }
        &:not(.collapsed){
            .la{
                transform: rotate(180deg);
            }
        }
    }
    .collapse-inner{
        .card-body{
            padding-top: 0;
            .node-table{
                &__row{
                    display: flex;
                    div{
                        padding: 1px 5px;
                        color: #464855;
                    }
                    div:first-child{
                        text-align: right;
                        width: 142px;
                        flex: 0 0 142px;
                        color: inherit;
                        font-size: 13px;
                        font-weight: 300;
                    }
                    div:last-child{
                        word-break: break-word;
                    }
                }
            }
        }
    }
}
.modal-confirm{
    .modal-body{
        text-align: center;
        h4{
            font-weight: 300;
            margin: 20px 0;
        }
    }
    .modal-footer{
        justify-content: center;
    }
}
.modal-backdrop{
    z-index: 100001;
}
.modal{
    z-index: 100002;
}























@media only screen and (max-width: 768px) {
    .main-menu.menu-dark .navigation > li > a {
        padding: 12px 36px 12px 20px;
    }
    .content-wrapper{
        padding: 25px 18px !important;
    }
    .header-navbar{
        min-height: auto;
        height: 50px;
        .navbar-wrapper{
            height: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 5px;
        }
        .navbar-header{
            height: 100%;
            padding: 0;
            width: auto !important;
            float: none !important;
            flex: 0 0 calc(100% - 162px);
            .nav.navbar-nav{
                flex-wrap: nowrap;
                height: 50px;
                justify-content: center;
                .mobile-menu{
                    margin: 0 !important;
                    position: absolute;
                    left: 0;
                    a{
                        padding: 0;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    html body.fixed-navbar {
        padding-top: 50px;
    }
    .main-menu.menu-fixed {
        top: 50px;
        padding-top: 30px;
    }
    .vertical-overlay-menu .main-menu .navigation > li > a > i {
        margin-right: 16px;
    }
    .navbar-container{
        display: flex !important;
        padding: 0 !important;
        width: 162px !important;
        .collapse.navbar-collapse{
            display: flex;
            height: 100%;
            justify-content: flex-end;
            .nav.navbar-nav.mr-auto.float-left{
                display: none;
            }
        }
        .nav.navbar-nav{
            height: 100%;
        }
    }
    .header-navbar .navbar-header .navbar-brand{
        position: static;
        transform: none;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
    }
    .header-navbar .navbar-container ul.nav li a.dropdown-user-link{
        padding: 0 15px;
        height: 100%;
        display: flex;
        align-items: center;
        i{
            margin-right: 0;
        }
    }
    .dropdown.dropdown-notification.nav-item{
        height: 100%;
        a{
            padding: 0 18px 0 15px !important;
            height: 100%;
            display: flex;
            align-items: center;
            i{
                margin-right: 0 !important;
                font-size: 23px !important;
            }
            span{
                top: 5px;
                right: 6px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                line-height: 10px;
                padding: 0;
                vertical-align: middle;
            }
        }
    }
    .header-navbar{
        .dropdown.dropdown-language.nav-item{
            .dropdown-toggle.nav-link{
                padding: 0 15px;
                height: 100%;
                display: flex;
                align-items: center;
                i{
                    margin-right: 0;
                }
            }
        }
    }
    .logo_min{
        margin-left: 42px !important;
    }
    .header-navbar .navbar-container .show .dropdown-menu{
        left: auto !important;
    }
    .dropdown .dropdown-menu .dropdown-item {
        padding: 10px 11px;
    }
    .dropdown-menu-media{
        .media{
            width: 100%;
        }
    }
    .breadcrumb-new{
        flex-wrap: wrap;
        padding: 0 15px;
    }

}

@media only screen and (max-width: 600px) {
    .breadcrumb-new{
        .content-header-title{
            margin: 0 !important;
            width: 100%;
            border: 0;
        }
    }
}



@media only screen and (max-width: 440px) {
    .loginform {
        width: 100%;
        .p-3 {
            padding: 3rem 20px 20px !important;
        }
    }
}





















