#particles-js{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.login-page{
    background: linear-gradient(to right, #140E38, #194089);;
}
.loginform{
    width: 400px;
    .p-3{
        padding-bottom: 20px !important;
    }
    button{
        cursor: pointer;
    }
    .text-capitalize{
        font-size: 22px;
        margin-top: 10px;
    }
    form .form-control {
        box-shadow: none !important;
    }
    .error-text{
        display: none;
    }
    .has-error{
        .form-control{
            border-color: red;
        }
        .error-text{
            display: block;
            color: red;
            font-size: 12px;
            padding: 5px 0 0 12px;
        }
    }
    .dropdown-language{
        position: absolute;
        top: 10px;
        right: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .loginform {
        .p-3 {
            padding: 3rem 20px 20px !important;
        }
    }
}





















